<div>
  <button
  id="previous-button"
  class='btn btn-outline-secondary'
  *ngIf="book.id > 1"
  (click)='previousBook()'>
  <i class='fa fa-chevron-left'></i>
  Previous book</button>
<button
  id="next-button"
  class='btn btn-outline-secondary'
  *ngIf="book.id < 15"
  (click)='nextBook()'>
  Next Book &nbsp;<i class='fa fa-chevron-right'></i>
</button>
</div>

<div class="book-list-component">
  <div class="book-container">
    <img src={{book.book_image}} />
    <div class="book-information">
      <h1>Title: {{book.title}}</h1>
      <h2>Author: {{book.author}}</h2>
      <h3>Genre: {{book.genre}}</h3>
      <button
            class="btn btn-outline-secondary"
            *ngIf="book.inPersonalList != true ; else alreadyAdded"
            (click)="addToPersonalBooklist()">Add To My List
      </button>
      <ng-template #alreadyAdded>
        <button class="btn btn-outline-secondary" style="color: green;"><i class="fa fa-check" style="color: green; padding-right: 3px;"></i>Added to List</button>
      </ng-template>
    </div>
  </div>
  <div class="description-container">
    <h1><u>About This Book</u></h1>
    <h4>{{book.description}}</h4>
  </div>
</div>
