@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~font-awesome/css/font-awesome.min.css"; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.card-header {
  font-size: large;
 }

 div.card {
   margin-top: 10px
 }

 .table {
   margin-top: 10px
 }
